{% extends "home.html" %}

{% block head %}
<title>Doctor Home</title>
{% endblock %}

{% block body %}

<div class="container">
<h1 class="container">Patient Profile</h1>
<h2>Name: {{ patient.first_name }} {{ patient.last_name }}</h2>
<h2>Date of Birth:</h2> {{ profile.birth_date }}
<h2>Gender:</h2> {{ profile.gender }}
</div>
<div class="container">
<h1 class="container">Patient History</h1>
<h2>Diabetes:</h2>{{ history.diabetes }}
<h2>Blood Problems:</h2>{{ history.blood_pressure }}
<h2>Heart Problems:</h2>{{ history.heart_problems }}
<h2>Drink:</h2>{{ history.drink }}
<h2>Smoke:</h2>{{ history.smoke }}
<h2>Drugs:</h2>{{ history.drugs }}
</div>
<div class="container">Current Visit</div>
<h2>Symptoms: </h2> {{ visit.current_status }}
<h2>Symptoms: </h2> {{ visit.temperature }}
<h2>Symptoms: </h2> {{ visit.bp }}
<form method="POST" action="save_doc">
        {% csrf_token %}
 disease: <input type="text" name="disease">
 <!-- medicine:<input type="text" name="medicines">
 test: <input type="text" name="test"> -->
 <div class="form-group">
        <label for="exampleFormControlTextarea1">medicine</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="medicines"></textarea>
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">test</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="test"></textarea>
      </div>
<input type="submit" value="save">
</form>
{% endblock %}