{% extends 'home.html' %}

{% block head %}
<title>Existing Cases</title>
{% endblock %}

{% block body %}

<form class="container" method="POST" action="createvisit">
        {% csrf_token %}
<div class="form-group">
    <label for="exampleFormControlSelect1">Existing cases</label>
    <select class="form-control" id="exampleFormControlSelect1">
     {% for Cases in data %}
      <option>
            {{ Cases.user.first_name }}
            {{ Cases.symptoms}}
            {{ Cases.startingdate}}
            {{ Cases.lastvisit}}

      </option>
      {% endfor %}
      
    </select>
    <input type="submit" value="submit">
  </div>
</form>  


{% endblock %}