{% extends 'home.html' %}

{% block head %}
{% load static %}
<link rel="stylesheet" type="text/css" href={% static "history.css" %}>
<link href = {% static "medic_lab.css" %} rel = "stylesheet" type = "text/css">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<title>Patient History</title>
{% endblock %}

{% block body %}
<body  background={% static "gradient.jpg" %} >
        <div class="note" style="margin: 25px 0px;">
                <p style = "font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: 30px;">Please fill this history form before we begin.</p>
            </div>
<div class="container" style="width: 700px; margin-bottom: 50px; background-color:white; padding: 20px; border: 2px solid lightgrey; border-radius: 20px; " >
        <form  method="POST">
                {% csrf_token %}
    <h4 style="font-family:Verdana, Geneva, Tahoma, sans-serif; font-size: 25px;"><label for="id_diabetes_0">Do you have Diabetes?</label></h4>

   <div class="funkyradio">
       <div class="funkyradio-primary">
            <input type="radio" name="diabetes" style="border-radius: 0px 20px 20px 0px !important;" value="Yes" maxlength="100" required id="id_diabetes_0">
            <label for="id_diabetes_0">
                Yes</label></label>
       </div>
       <div class="funkyradio-primary">
            <input type="radio" name="diabetes" value="No" maxlength="100" required id="id_diabetes_1">
            <label for="id_diabetes_1">No</label>
       
   </div><br></div>
   <h4 style="font-family:Verdana, Geneva, Tahoma, sans-serif; font-size: 25px;"><label for="id_blood_pressure_0">Do you have Blood Pressure Problems?</label></h4>
   <div class="funkyradio">
        <div class="funkyradio-primary">
                <input type="radio" name="blood_pressure" value="Yes" maxlength="100" required id="id_blood_pressure_0">
                <label for="id_blood_pressure_0">
                 Yes</label></label>
        </div>
        <div class="funkyradio-primary">
                <input type="radio" name="blood_pressure" value="No" maxlength="100" required id="id_blood_pressure_1">
                <label for="id_blood_pressure_1">No</label>
        
    </div><br></div>
    <h4 style="font-family:Verdana, Geneva, Tahoma, sans-serif; font-size: 25px;"><label for="id_heart_problems_0">Do you have have Heart Problems?</label></h4>
    <div class="funkyradio">
            <div class="funkyradio-primary">
                    <input type="radio" name="heart_problems" value="Yes" maxlength="100" required id="id_heart_problems_0">
                    
                   
                    <label for="id_heart_problems_0">
                     Yes</label></label>
            </div>
            <div class="funkyradio-primary">
                    <input type="radio" name="heart_problems" value="No" maxlength="100" required id="id_heart_problems_1">
                    <label for="id_heart_problems_1">No</label>
            
        </div><br></div>
        <h4 style="font-family:Verdana, Geneva, Tahoma, sans-serif; font-size: 25px;"><label for="id_drink_0">How often do you have alcohol?</label></h4>
        <div class="funkyradio">
                <div class="funkyradio-primary">
                        <input type="radio" name="drink" value="Never" maxlength="100" required id="id_drink_0">
                        <label for="id_drink_0">
                         Never</label></label>
                </div>
                <div class="funkyradio-primary">
                        <input type="radio" name="drink" value="Once an year" maxlength="100" required id="id_drink_1">
                        <label for="id_drink_1">Once an year</label>
                
            </div>
            <div class="funkyradio-primary">
                    <input type="radio" name="drink" value="Few times a year" maxlength="100" required id="id_drink_2">
                    <label for="id_drink_2">Few times a year</label>
            
        </div>
        <div class="funkyradio-primary">
                <input type="radio" name="drink" value="Few times a month" maxlength="100" required id="id_drink_3">
                <label for="id_drink_3">Few times a month</label>
        
    </div>
    <div class="funkyradio-primary">
            <input type="radio" name="drink" value="Few times a week" maxlength="100" required id="id_drink_4">
            <label for="id_drink_4">Few times a week</label>
    
</div>
<div class="funkyradio-primary">
        <input type="radio" name="drink" value="Daily" maxlength="100" required id="id_drink_5">
        <label for="id_drink_5">Daily</label>

</div>
<div class="funkyradio-primary">
        <input type="radio" name="drink" value="Many times a day" maxlength="100" required id="id_drink_1">
        <label for="id_drink_1">Many times a day</label>

</div>
            <br></div>
            <h4 style="font-family:Verdana, Geneva, Tahoma, sans-serif; font-size: 25px;"><label for="id_smoke_0">How often do you smoke?</label></h4>
            <div class="funkyradio">
                    <div class="funkyradio-primary">
                            <input type="radio" name="smoke" value="Never" maxlength="100" required id="id_smoke_0">
                         <label for="id_smoke_0">
                             Never</label></label>
                    </div>
                    <div class="funkyradio-primary">
                        <input type="radio" name="smoke" value="Once an year" maxlength="100" required id="id_smoke_1">
                         <label for="id_smoke_1">
                             Once an year</label></label>
                    </div>
                    <div class="funkyradio-primary">
                            <input type="radio" name="smoke" value="Few times a year" maxlength="100" required id="id_smoke_2">
                         <label for="id_smoke_2">
                             Few times a year</label></label>
                         </div>
                         <div class="funkyradio-primary">
                                <input type="radio" name="smoke" value="Few times a month" maxlength="100" required id="id_smoke_3">
                             <label for="id_smoke_3">
                                 Few times a month</label></label>
                             </div>
                             <div class="funkyradio-primary">
                                    <input type="radio" name="smoke" value="Few times a week" maxlength="100" required id="id_smoke_4">
                                 <label for="id_smoke_4">
                                     Few times a week</label></label>
                                 </div>
                                 <div class="funkyradio-primary">
                                        <input type="radio" name="smoke" value="Daily" maxlength="100" required id="id_smoke_5">
                                     <label for="id_smoke_5">
                                         Daily</label></label>
                                     </div>
                                     <div class="funkyradio-primary">
                                            <input type="radio" name="smoke" value="Many times a day" maxlength="100" required id="id_smoke_6">
                                         <label for="id_smoke_6">
                                             Many times a day</label></label>
                                         </div>
                    <br></div>
                <h4 style="font-family:Verdana, Geneva, Tahoma, sans-serif; font-size: 25px;"><label for="id_drugs_0">How often do you have drugs?</label></h4>
                <div class="funkyradio">
                        <div class="funkyradio-primary">
                                <input type="radio" name="drugs" value="Never" maxlength="100" required id="id_drugs_0">
                             <label for="id_drugs_0">
                                 Never</label></label>
                        </div>
                        <div class="funkyradio-primary">
                                <input type="radio" name="drugs" value="Once an year" maxlength="100" required id="id_drugs_1">
                             <label for="id_drugs_1">
                                 Once an year</label></label>
                        </div>
                        <div class="funkyradio-primary">
                                <input type="radio" name="drugs" value="Few times a year" maxlength="100" required id="id_drugs_2">
                             <label for="id_drugs_2">
                                 Few times a year</label></label>
                             </div>
                             <div class="funkyradio-primary">
                                    <input type="radio" name="drugs" value="Few times a month" maxlength="100" required id="id_drugs_3">
                                 <label for="id_drugs_3">
                                     Few times a month</label></label>
                                 </div>
                                 <div class="funkyradio-primary">
                                        <input type="radio" name="drugs" value="Few times a week" maxlength="100" required id="id_drugs_4">
                                     <label for="id_drugs_4">
                                         Few times a week</label></label>
                                     </div>
                                     <div class="funkyradio-primary">
                                            <input type="radio" name="drugs" value="Daily" maxlength="100" required id="id_drugs_5">
                                         <label for="id_drugs_5">
                                             Daily</label></label>
                                         </div>
                                         <div class="funkyradio-primary">
                                                <input type="radio" name="drugs" value="Many times a day" maxlength="100" required id="id_drugs_6">
                                             <label for="id_drugs_6">
                                                 Many times a day</label></label>
                                             </div><center>
                                             <input type="submit" style="padding: 10px; margin:30px; margin-bottom:10px; border-radius:50px;" class="btnSubmit"></center>
                </form>
</div>






{% endblock %}