<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% block head %}
    <title>homepage</title>
    {% endblock %}
</head>
<body>
        {% if messages %}
        {% for message in messages %}
            {{message}}
        {% endfor %}
     {% endif %}       
    
    {% block body %}
    <h1 class="container">this is homepage</h1>
    <h2><a href="/existingcase">Existing Case</a></h2>
    <h2><a href="/createcase">Create a new Case</a></h2>
    <br>
    <a href="/logout">logout</a>
    {% endblock %}
</body>
</html>