{% extends 'home.html' %}

{% block head %}
<title>Labs</title>
{% endblock %}

{% block body %}
<div class="container">
        <form method="POST" action="save_lab">
                {% csrf_token %}
                {%for test in lab%}
                Test={{ test }}
                Enter Price: <input type="number" name="price{{ forloop.counter }}" ><br>
                {% endfor %}
        <input type="submit" value="save">
    </form>
</div>
<a class="btn btn-primary" href="/lab" role="button"  >Next Patient</a>
{% endblock %}