{% extends 'home.html' %}

{% block head %}
<title>Medicine</title>
{% endblock %}

{% block body %}
<div class="container">
    
    <form method="POST" action="save_medic">
            {% csrf_token %}
            {%for medicine in medicine%}
medicine={{medicine}}
enter price:<input type="number" name="price" ><br>
{% endfor%}
    <input type="submit" value="save">
</form>

<!-- <form method="POST" action="save_medic">
    {% csrf_token %}
    enter price:<input type="number" name="price" >
    <input type="submit" value="save">
</form> -->
</div>


<a class="btn btn-primary" href="/medicine" role="button"  >next patient</a>

{% endblock %}